<div class="people">
  <header class="pageheader">
    <h1>PEOPLE</h1>
  </header>
  <div class="researchers">
    <div class="researcher">
      <a href="/eva-brems.html">
      <%= image_tag "sarah-van-leuven.jpg" %>
      </a>
      <p><a href="/eva-brems.html">Eva Brems</a><br>Prof. Dr.</p>
    </div><!-- .researcher -->
    <div class="researcher">
      <a href="/bart-van-de-putte.html">
      <%= image_tag "sarah-van-leuven.jpg" %>
      </a>
      <p><a href="/bart-van-de-putte.html">Bart Van de Putte</a><br>Prof. Dr.</p>
    </div><!-- .researcher -->
    <div class="researcher">
      <a href="/alain-van-hiel.html">
      <%= image_tag "sarah-van-leuven.jpg" %>
      </a>
      <p><a href="/alain-van-hiel.html">Alain Van Hiel</a><br>Prof. Dr.</p>
    </div><!-- .researcher -->
    <div class="researcher">
      <a href="/emma-onraet.html">
      <%= image_tag "sarah-van-leuven.jpg" %>
      </a>
      <p><a href="/emma-onraet.html">Emma Onraet</a><br>Dr.</p>
    </div><!-- .researcher -->
    <div class="researcher">
      <a href="/saila-ouald-chaib.html">
      <%= image_tag "sarah-van-leuven.jpg" %>
      </a>
      <p><a href="/saila-ouald-chaib.html">Saïla Ouald Chaib</a><br>Dr.</p>
    </div><!-- .researcher -->
    <div class="researcher">
      <a href="/pieter-paul-verhaeghe.html">
      <%= image_tag "sarah-van-leuven.jpg" %>
      </a>
      <p><a href="/pieter-paul-verhaeghe.html">Pieter-Paul Verhaeghe</a><br>Dr.</p>
    </div><!-- .researcher -->
    <div class="researcher">
      <a href="/tess-heirwegh.html">
      <%= image_tag "sarah-van-leuven.jpg" %>
      </a>
      <p><a href="/tess-heirwegh.html">Tess Heirwegh</a><br>PhD researcher</p>
    </div><!-- .researcher -->
    <div class="researcher">
      <a href="/barbara-valcke.html">
      <%= image_tag "sarah-van-leuven.jpg" %>
      </a>
      <p><a href="/barbara-valcke.html">Barbara Valcke</a><br>PhD researcher</p>
    </div><!-- .researcher -->
    <div class="researcher">
      <a href="/catherine-van-de-graaf.html">
      <%= image_tag "sarah-van-leuven.jpg" %>
      </a>
      <p><a href="/catherine-van-de-graaf.html">Cathérine Van de Graaf</a><br>PhD researcher</p>
    </div><!-- .researcher -->
    <div class="researcher">
      <a href="/thomas-van-roey.html">
      <%= image_tag "sarah-van-leuven.jpg" %>
      </a>
      <p><a href="/thomas-van-roey.html">Thomas Van Roey</a><br>PhD researcher</p>
    </div><!-- .researcher -->
  </div><!-- .researchers -->
</div><!-- .people -->
