<div class="research">
  <header class="pageheader">
    <h1>RESEARCH</h1>
  </header>
  <div class="research-list">
    <div class="research-item">
      <aside>
        <%= image_tag "building.jpg" %>
      </aside>
      <div class="content">
        <h2><a href="/developing-local-human-watch-approaches.html">Developing local human rights approaches to prevent and address multicultural conflicts</a></h2>
        <p>This research theme explores the modalities of systematic integration of human rights in the work of municipal authorities</p>
      </div>
    </div><!-- .research-item -->
    <div class="research-item">
      <aside>
        <%= image_tag "architecture.jpg" %>
      </aside>
      <div class="content">
        <h2><a href="/procedural-fairness-criteria.html">Procedural fairness criteria: relative weight and synergetic effects</a></h2>
        <p>In this research theme, we focus on what relevant procedural fairness criteria can be applied in diverse contexts</p>
      </div>
    </div><!-- .research-item -->
    <div class="research-item">
      <aside>
        <%= image_tag "windows.jpg" %>
      </aside>
      <div class="content">
        <h2><a href="relevance-of-self-levels.html">The relevance of self-levels in procedural fairness effects</a></h2>
        <p>Procedural fairness in addressing local multicultural conflicts proceeds through distinct levels of social needs, with distinctive effects on the target variables</p>
      </div>
    </div><!-- .research-item -->
    <div class="research-item">
      <aside>
        <%= image_tag "stairs.jpg" %>
      </aside>
      <div class="content">
        <h2><a href="/contextual-variation-in-procedural-fairness.html">Contextual variation in procedural fairness and its effects</a></h2>
        <p>The first aim is to examine the role of the context of multicultural conflicts for both the salience of procedural fairness criteria and proximal outcomes</p>
      </div>
    </div><!-- .research-item -->
    <div class="research-item">
      <aside>
        <%= image_tag "abstract.jpg" %>
      </aside>
      <div class="content">
        <h2><a href="integrating-procedural-fairness-in-local-approaches.html">Integrating procedural fairness in local approaches to multicultural conflicts</a></h2>
        <p>This research theme aims to develop a model for integrating procedural fairness guarantees in human rights realization in the concrete context of local multicultural conflicts in public, private and semi-public settings</p>
      </div>
    </div><!-- .research-item -->
  </div><!-- .research-list -->
</div>
